body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}



/* background */
.bg-home {
  background-image: url('/bg_home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}